# For more details on how to use this file, see
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

*       @rallyhealth/scala-engineers
