language: scala
scala:
  - 2.13.7
jdk:
  - openjdk8
  - openjdk11

before_script:
  # Download sbt because Travis can't find it automatically :(
  - mkdir -p $HOME/.sbt/launchers/1.6.2/
  - curl -L -o $HOME/.sbt/launchers/1.6.2/sbt-launch.jar https://repo1.maven.org/maven2/org/scala-sbt/sbt-launch/1.6.2/sbt-launch-1.6.2.jar

script:
  - sbt clean coverage test coverageAggregate
  # Upload coverage reports to codecov.io before checking binary compatibility
  - curl https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import # One-time step
  - curl -Os https://uploader.codecov.io/latest/linux/codecov
  - curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
  - curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
  - gpgv codecov.SHA256SUM.sig codecov.SHA256SUM
  - shasum -a 256 -c codecov.SHA256SUM
  - chmod +x codecov
  - ./codecov -t ${CODECOV_TOKEN}
  # Check for binary compatibility issues
  - sbt mimaReportBinaryIssues

# Avoid unnecessary cache updates
before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt
